body {
    background-color: #f0f0f0; /* Cinza claro */
    font-family: Arial, sans-serif;
    color: #333; /* Cor do texto */
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

h1, h2 {
    color: #444; /* Levemente mais escuro para destaque */
    text-align: center;
}

p {
    margin: 10px 20px;
    text-align: justify;
}

ul {
    margin: 10px 20px;
    padding: 0;
    list-style-type: disc;
}

li {
    margin: 5px 0;
}
